@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Resources/Image/Icon/PageIconOnline.png" />
    <link rel="stylesheet" href="~/Content/css/labEntry.min.css" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/additional-methods.min.js"></script>
    <script src="~/Scripts/App/messages_zh.js"></script>
    <script src="~/Scripts/App/labLayout.js"></script>
    <title>实验室安全教育在线-修改密码</title>
    <style>
        #Login {
            width: 600px;
            height: 420px;
        }
        div>.errorInfo {
            text-indent:10px;
            font-size: 14px;
            color: brown;
        }
        .form-group {
            margin-bottom:10px;
        }
        .form-group-5 {
            margin: 5px auto;
        }
    </style>
</head>
<body class=" bc-clr-grey-little">
    <div id="Login" class="br-white border-thumali  layout-center  padding-15 box-sizing-include-padding-border">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post,htmlAttributes: new { id="ChangePassword" }))
        {
            <div class="text-center title-module-N-normal font-size-25 margin-bottom-20px">
                修改用户密码
            </div>
            <div class="form-group flex-layout flex-direction-row flex-wrap-nowrap  ">
                <div class="flex-item-2">
                    <img src="../Resources/LoginIcon/ID_NO_Lanse.png" width="40" class="layout-image-right">
                </div>
                <div class="flex-item-8 margin-left-30px">
                    <input type="text" name="UserID" id="UserID" autocomplete="on" required  placeholder="请输入学号" required class="textBox text-indent-15px " />
                </div>
            </div>
            <div class="form-group flex-layout flex-direction-row flex-wrap-nowrap">
                <div class="flex-item-2">
                    <img src="../Resources/LoginIcon/ID_lanse.png" width="38" class="layout-image-right">
                </div>
                <div class="flex-item-8 margin-left-30px">
                    <input type="text" name="IDNumber" id="IDNumber" required placeholder="请输入身份证号" class="textBox text-indent-15px " />
                </div>
            </div>
            <div class="form-group flex-layout flex-direction-row flex-wrap-nowrap">
                <div class="flex-item-2">
                    <img src="../Resources/LoginIcon/password.png" width="38" class="layout-image-right">
                </div>
                <div class="flex-item-8 margin-left-30px">
                    <input type="password" id="UserNewPassword" name="UserNewPassword" required placeholder="请输入新密码" class="textBox text-indent-15px " />
                </div>
            </div>
            <div class="form-group flex-layout flex-direction-row flex-wrap-nowrap">
                <div class="flex-item-2">
                    <img src="../Resources/LoginIcon/password.png" width="38" class="layout-image-right">
                </div>
                <div class="flex-item-8 margin-left-30px">
                    <input type="password" id="UserNewPassword1" name="UserNewPassword1" required placeholder="请输再次输入新密码" class="textBox text-indent-15px " />
                </div>
            </div>
            <div class=" form-group flex-layout flex-direction-row flex-wrap-nowrap">
                <div class="flex-item-2">
                </div>
                <div class="flex-item-8 margin-left-30px">
                    <input type="submit" class="textBox-with-button form-submit form-submit-info" value="修改密码" >
                </div>
            </div>
        }
    </div>
    <div class="mask" data-mask-target="#mask-info">
    </div>
    <div id="mask-info" class=" mask-content">
        <div class="mask-module-title">
            消息提示！
        </div>
        <div class="mask-module-content">
            请回答问题！
        </div>
        <div class="mask-module-close">
            <button id="val_on_login" class=" btn btn-danger layout-image-center"> 立即关闭</button>
        </div>
    </div>
    <div>
        <div class="main text-center font-color-grey-more position-fixed" style="bottom: 0px;left: 0px; width: 100%;">
            <small>© All Right Reserved . 四川师范大学计算机科学学院 版权所有 版本号1.0.0.2018.9</small>
        </div>
    </div>
</body>
<script>
    function onMask(title, content) {
        var target = $(".mask").css("display", "block").attr('data-mask-target');
        $(target).css("display", "block");
        $(`${target} > .mask-module-title`).text(title);
        $(`${target} > .mask-module-content`).text(content);
    };

    function onLogin() {
        $('#val_on_login').off('click', null, onLogin);
        window.location.href = "/Account/Login";
    }

    var Validator =  $('#ChangePassword').validate({
        messgaes: {
            UserID: "请填写账号",
            IDNumber: {
                required:"请填写身份证号码",
                minlength:"身份证号码长度不对"
            },
            UserNewPassword: {
                minlength: "新密码长度不能小于六位",
                required: "请填写新密码",
                alphanumeric:"只能输入数字、字母和下划线"
            },
            UserNewPassword1: {
                minlength: "新密码长度不能小于六位",
                required: "请填写新密码",
                alphanumeric: "只能输入数字、字母和下划线",
                equalTo: "两次密码输入不相等"
            }
        }
        ,
        rules: {
            UserID: {
                required: true
            },
            IDNumber: {
                minlength: 12,
                required: true
            },
            UserNewPassword: {
                minlength: 6,
                required: true,
                alphanumeric: true
            },
            UserNewPassword1: {
                minlength: 6,
                required: true,
                alphanumeric: true,
                equalTo: "#UserNewPassword"
            }

        },
        errorElement:"div",
        errorClass: "errorInfo",
        submitHandler: function (form) {
            $.ajax({
                url: "/Account/ChangePassword",
                method: "post",
                dataType: "json",
                async: false,
                data: {
                    "UserID": $('#UserID').val(),
                    "UserNewPassword": $('#UserNewPassword').val(),
                    "IDNumber": $('#IDNumber').val(),
                },
                success: function (data, textStatus, jqXHR) {

                    console.log(data);

                    if (data.Type == "Principal") {
                        onMask('严正提示', "管理员账号无法再次修改密码,请联系系统管理员！修改密码");
                    }else if (data.Type == "Anonymous") {
                        onMask('严正提示', "你的账号不存在");
                    } else {
                        if (data.idNumberIsRight == false) {
                            onMask('严正提示', "你的身份证号码不正确");
                        } else {
                            if (data.isOk) {
                                $('#ChangePassword').get(0).reset();
                                onMask('温馨', "你的密码已经修改完毕,即将跳转登录页面....");
                                $('#val_on_login').text("立即跳转！");
                                $('#val_on_login').on('click', null, null, onLogin);

                                window.setTimeout(function () {
                                    window.location.href = "/Account/Login";
                                }, 2000);

                            }
                        }
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error:" + errorThrown.toString());
                }
            });

        }});


</script>
</html>
