@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HaveLogin</title>
</head>
<body>
    <div> 
        @ViewBag.valCookie
    </div>
</body>
</html>
