@{
    ViewBag.Title = "实验室安全教育在线-使用帮助";
    Layout = "~/Views/Shared/_LayoutPageHomeOther.cshtml";
}
<div class="main flex-layout padding-15">
    <div class=" flex-item-3  padding-15 margin-top-55px">
        <ul id="tab-menu" class="list list-unstyle">
            <li class="list-item danger" data-show-panel="#list-item-1">
                考试问题
            </li>
            <li class="list-item" data-show-panel="#list-item-2">
                重考相关
            </li>
            <li class="list-item" data-show-panel="#list-item-3">
                休学退考
            </li>
            <li class="list-item" data-show-panel="#list-item-4">
                视频学习
            </li>
        </ul>
    </div>
    <div class="flex-item-7  padding-15">
        <div class=" text-center text-shadow-grey font-size-22 text-shadow-black">
            四川师范大学安全教育学习与考试帮助
        </div>
        <div class=" text-right  border-n-down">
            <small>
                2018/9/26
            </small>
        </div>
        <div class="tab-Item">
            <div id="list-item-1">
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如果考试次数用完了怎么办? </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        你可以自动申请重考！等待对应学院辅导员的批准！有时候会开启自动批准,有时候需要老师手动批准,得到结果时间
                        视情况而定! 考试结果可是在申请列表中查看！
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如果考试未完成中途意外退出怎么办? </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        再次参加考试的时候我们会为你删除未完成考试试卷,并且未完成考试不会减少你的考试次数。
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如何参加考试? </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        下一个问题！
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如果始终考不过怎么办？ </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        明年再来补考！
                    </div>
                </div>
            </div>
            <div id="list-item-2">
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 为什么我的重考申请还没有批准 </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        此时系统并未开启自动批准,请等待老师批准！一旦你的申请被批准,我们将会以邮件通知你！
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如何申请重考 </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        请登录学习,然后点击导航栏上面的申请重考
                    </div>
                </div>
            </div>
            <div id="list-item-3">
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如何申请退考 </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        你可以自动申请重考！等待对应学院辅导员的批准！有时候会开启自动批准,有时候需要老师手动批准,得到结果时间
                        视情况而定
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如果考试次数用完了怎么办?3 </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        你可以自动申请重考！
                    </div>
                </div>
            </div>
            <div id="list-item-4">
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 如果视频学习时间没有达到要求！而状态显示已完成 </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        只要显示已经完成就行,由于观看学习的人员较多,系统无法及时处理请求,但是只要状态完成即可！
                    </div>
                </div>
                <div class="layout-Prismatic ">
                    <div class="layout-Prismatic-title">
                        <img src="../Resources/LoginIcon/LengXing_hongse.png" width="32px" alt="棱形">
                        <span class=" font-size-20 text-shadow-grey text-indent-15px"> 一定要观看完视频才能考试吗？ </span>
                    </div>
                    <div class="layout-Prismatic-Content">
                        视系统开发设置而定
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $('#list-item-1').fadeIn();
    $(function(){
        $('#tab-menu > .list-item').on('click',null,null,function(){
            $('.tab-Item > div').css('display',"none");
            $($(this).attr('data-show-panel')).fadeIn(1500,"linear");
            $('.danger').removeClass('danger');
            $(this).addClass('danger');
        });
    });
</script>    
}